@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://use.fontawsome.com/releases/v6.4.2/css/all.css);

/* codetheworld.io*/

ul {
    position: relative;
    /*transform: skewY(-15deg);*/
}

li {
    position: relative;
    list-style: none;
    width: 200px;
    padding: 15px;
    background: #000000;
    z-index: calc(1 * var(--i));
    transition: 0.5s;
}

li:hover {
    background: #bdb87b;
    width: 200px;
    transform: translateX(-50px);
}

li::before {
    font-family: "FontAwesome";
    color: #999;
    display: flex;
    justify-content: center;
    align-items: flex;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(50deg);
    transition: 0.5s;
}

li:hover::before {
    background: #af70be;
}

li::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewY(45deg);
    transition: 0.5s;
}

li:hover::after {
    background: #6d7bbd;
}

li a {
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

li:hover a {
    color: #c290c2;
}

li:last-child::after {
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}
.about{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.content{
    padding: 35px;
}
.content h2{
    color: #050505;
    font-size: 24px;
    margin: 15px 0px;
}
.content p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .about{
        flex-direction: column;
    
    }
    .about img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*readStories*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #eefab8;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: #0a0a0a;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}
.heading a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
/*Contacts*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #eefab8;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: #0a0a0a;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}
.Contacts{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

/*S1.HTML*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.w1{
    text-align: center;
    margin-top: 25px;
}
.w1 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.w1 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}



/*1_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.w2{
    text-align: center;
    margin-top: 25px;
}
.w2 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.contents{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.contents img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.content1{
    padding: 35px;
}
.content1 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .contents{
        flex-direction: column;
    
    }.contents img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content1{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*1_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.w3{
    text-align: center;
    margin-top: 25px;
}
.w3 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.second{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.second img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.content2{
    padding: 35px;
}
.content2 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .second{
        flex-direction: column;
    
    }.second img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content2{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*1_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.w4{
    text-align: center;
    margin-top: 25px;
}
.w4 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.third{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.third img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.content3{
    padding: 35px;
}
.content3 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .third{
        flex-direction: column;
    
    }.third img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content3{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*s2.html*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q1{
    text-align: center;
    margin-top: 25px;
}
.q1 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.q1 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}

/*2_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q2{
    text-align: center;
    margin-top: 25px;
}
.q2 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v1{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v1 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c1{
    padding: 35px;
}
.c1 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v1{
        flex-direction: column;
    
    }.v1 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c1{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*2_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q3{
    text-align: center;
    margin-top: 25px;
}
.q3 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v2{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v2 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c2{
    padding: 35px;
}
.c2 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v2{
        flex-direction: column;
    
    }.v2 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c2{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*2_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q4{
    text-align: center;
    margin-top: 25px;
}
.q4 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v3{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v3 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c3{
    padding: 35px;
}
.c3 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v3{
        flex-direction: column;
    
    }.v3 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c3{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*s3.html*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #0d7a5f;
}
.q5{
    text-align: center;
    margin-top: 25px;
}
.q5 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.q5 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
/*3_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #49e786;
}
.q6{
    text-align: center;
    margin-top: 25px;
}
.q6 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v4{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v4 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c4{
    padding: 35px;
}
.c4 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v4{
        flex-direction: column;
    
    }.v4 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c4{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*3_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #60b8d3;
}
.q7{
    text-align: center;
    margin-top: 25px;
}
.q7 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v5{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v5 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c5{
    padding: 35px;
}
.c5 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v5{
        flex-direction: column;
    
    }.v5 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c5{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*3_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #48b985;
}
.q8{
    text-align: center;
    margin-top: 25px;
}
.q8 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v6{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v6 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c6{
    padding: 35px;
}
.c6 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v6{
        flex-direction: column;
    
    }.v6 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c6{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*s4.html*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q9{
    text-align: center;
    margin-top: 25px;
}
.q9 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.q9 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
/*4_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #fc9a4a;
}
.q10{
    text-align: center;
    margin-top: 25px;
}
.q10 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v7{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v7 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c7{
    padding: 35px;
}
.c7 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v7{
        flex-direction: column;
    
    }.v7 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c7{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*4_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #e4a073;
}
.q11{
    text-align: center;
    margin-top: 25px;
}
.q11 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v8{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v8 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c8{
    padding: 35px;
}
.c8 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v8{
        flex-direction: column;
    
    }.v8 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c8{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
/*4_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #d47367;
}
.q12{
    text-align: center;
    margin-top: 25px;
}
.q12 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v9{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v9 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c9{
    padding: 35px;
}
.c9 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v9{
        flex-direction: column;
    
    }.v9 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c9{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*s5.html*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #dee9ac;
}
.q13{
    text-align: center;
    margin-top: 25px;
}
.q13 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.q13 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}

/*5_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #c45a3a;
}
.q14{
    text-align: center;
    margin-top: 25px;
}
.q14 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v10{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v10 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c10{
    padding: 35px;
}
.c10 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v10{
        flex-direction: column;
    
    }.v10 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c10{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*5_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #8a522d;
}
.q15{
    text-align: center;
    margin-top: 25px;
}
.q15 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v11{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v11 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c11{
    padding: 35px;
}
.c11 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v11{
        flex-direction: column;
    
    }.v11 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c11{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*5_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #b15c5c;
}
.q16{
    text-align: center;
    margin-top: 25px;
}
.q16 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v12{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v12 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c12{
    padding: 35px;
}
.c12 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v12{
        flex-direction: column;
    
    }.v12 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c12{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*s6.html*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #1e4faa;
}
.q17{
    text-align: center;
    margin-top: 25px;
}
.q17 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.q17 a{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}

/*6_1*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #299281;
}
.q18{
    text-align: center;
    margin-top: 25px;
}
.q18 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v13{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v13 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c13{
    padding: 35px;
}
.c13 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v13{
        flex-direction: column;
    
    }.v13 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c13{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*6_2*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #4dda98;
}
.q19{
    text-align: center;
    margin-top: 25px;
}
.q19 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v14{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v14 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c14{
    padding: 35px;
}
.c14 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .v14{
        flex-direction: column;
    
    }.v14 img{
        flex: 0 100%;
        max-width: 100%;
    }
    .c14{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}

/*6_3*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #16817c;
}
.q20{
    text-align: center;
    margin-top: 25px;
}
.q20 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.v15{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.v15 img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.c15{
    padding: 35px;
}
.c15 p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}
/*OUR TEAM*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ac79e6;
}
.J1{
    text-align: center;
    margin-top: 25px;
}
.J1 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.jinky{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.jinky img{
    flex: 50%;
    max-width: 50%;
    height: auto;
}
.jin{
    padding: 35px;
}
.jin h2{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.jin p{
    color: #000000;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .jinky{
        flex-direction: column;
    
    }.jinky img{
        flex: 0 100%;
        max-width: 100%;
    }
    .jin{
        flex: 0 100%;
        max-width: 100%;
        padding: 15x;
    }
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ac79e6;
}
.t1{
    text-align: center;
    margin-top: 25px;
}
.t1 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.t1 p{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ac79e6;
}
.t2{
    text-align: center;
    margin-top: 25px;
}
.t2 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.t2 p{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ac79e6;
}
.t3{
    text-align: center;
    margin-top: 25px;
}
.t3 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.t3 p{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #ac79e6;
}
.t4{
    text-align: center;
    margin-top: 25px;
}
.t4 h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.t4 p{
    font-size: 20px;
    color: #5624b4;
    margin-bottom: 40px;
}
